@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-01: #131313;
  --Dark-02: #424242;
  --Dark-03: #727272;
  --BORDER-RADIUS: 8px;
  --PRIME-COLOR: #ff900e;
}

body {
  font-family: "Work Sans", sans-serif;
}

header {
  background: rgba(255, 144, 14, 0.1);
}

.container {
  max-width: 1440px;
  min-height: 100vh;
}

/* !navbar start */

.container .primary-label {
  display: flex;
  justify-content: space-between;
}

.container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  margin-right: 240px;
  margin-top: 63px;
}

.container h1 {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-left: 228px;
  margin-top: 50px;
}

.container ul li {
  color: var(--Dark-02, #424242);
  text-align: center;
  font-size: 1.0125rem;
  font-weight: 500;
  line-height: 144.444%;
}

/* !navbar end */

.hero h1 {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.hero p {
  max-width: 868px;
  color: var(--Dark-03, #727272);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162.5%;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.hero button {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  width: 180px;
  height: 64px;
  border: none;
  display: block;
  margin: 0 auto;
}

.img {
  margin-top: 50px;
  padding: 2rem;
  text-align: center;
}

.img img {
  max-width: 100%;
  height: auto;
}

/* ! Features section */

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 4rem;
  border: 2px solid purple;
}

.features-pic,
.features-text {
  width: 50%;
}

.features-pic {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  row-gap: 24px;
  column-gap: 24px;
  padding: 0.5rem;
}

.first,
.second {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.features-pic img {
  max-width: 342px;
  max-height: 342px;
  border-radius: 8px;
}

.features-text h1 {
  color: var(--Dark-03, #727272);
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

.highlight1 {
  color: var(--Dark-01, #131313);
  font-size: 3rem;
  font-weight: 700;
}

.highlight2 {
  color: #ff900e;
  font-size: 3rem;
  font-weight: 700;
}

.features-text p {
  max-width: 537px;
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  font-weight: 400;
  line-height: 162.5%;
  margin-bottom: 1.08rem;
}

.features-text button {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 21px 24px;
  border-radius: 8px;
  background: #ff900e;
  border: none;
}
